<div class="bg-black" style="padding-top: 10rem;"></div>

<footer class="text-white pt-2">
  <div class="container">
    <div class="footer-main row mx-auto text-left">
      <div class="brand col-lg-6 col-sm-12 my-auto heading">
        <img src="/img/code-sync.png" alt="brand" class="img-fluid" style="max-width: 200px; max-height: 100px;" />
      </div>
      <div class="team col-lg-6 col-sm-12" style="text-align: end;">
        <h2 class="heading fs-3">Team</h2>
        <div style="text-align: end;">
          <div class="text-white fs-6">
            Kshitij Kumar Pandey
            <a href="mailto:kshitijkp02@gmail.com" class="text-white pl-3"><i class="fas fa-envelope fa-1x"></i></a>
            <a href="https://github.com/KSP-07" class="text-white pl-3"><i class="fab fa-github fa-1x"></i></a>
          </div>
          <div class="text-white fs-6">Ayush Tiwari
            <a href="mailto: ayushtiwari6061@gmail.com" class="text-white pl-3"><i class="fas fa-envelope fa-1x"></i></a>
            <a href=" https://github.com/a60231023" class="text-white pl-3"><i class="fab fa-github fa-1x"></i></a>
          </div>
          <div class="text-white fs-6">
            Shivam 
            <a href="dayas7181@gmail.com" class="text-white pl-3"><i class="fas fa-envelope fa-1x"></i></a>
            <a href="" class="text-white pl-3"><i class="fab fa-github fa-1x"></i></a>
          </div>
          <div class="text-white fs-6">
            Anchal 
            <a href="aanchapal70@gmail.com" class="text-white pl-3"><i class="fas fa-envelope fa-1x"></i></a>
            <a href="" class="text-white pl-3"><i class="fab fa-github fa-1x"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="rights py-2 text-center">
    </div>
  </div>
</footer>
